/* duration.css */
.duration {
  text-align: center;
  color: #383838;
  height: 68px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden; /* 넘치는 텍스트를 잘리도록 설정 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  display: flex; /* flexbox로 설정 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
}

/* slider.css */
.slider {
  position: relative;
  width: 350px;
}

.slider:hover {
  cursor: pointer;
}
.slider__track,
.slider__range {
  position: absolute;
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #f2f2f2;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #383838;
  z-index: 2;
  left: 0;
}

.slider__left-value,
.slider__right-value {
  font-size: 12px;
  margin-top: 20px;
  position: absolute;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: 6px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 350px;
  outline: none;
  /* 이슈 해결 : 슬라이더 양 끝 값 = thumb 위치 */
  left: 50%;
  transform: translateX(-50%);
  /* 절반은 음수 값을 갖도록 */
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

.thumb::-webkit-slider-thumb {
  background-color: #383838;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #383838;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
