/* components/VideoUploader/VideoUploader.module.css */
.video__upload__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.title__reupload__container {
  display: flex;
  align-items: center;
  width: 60vw; /* 전체 너비 : 타이틀과 reupload 버튼 간격 조정ㄴ*/
}

.title {
  color: #8b8b8b;
  font-family: SUIT;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  padding: 16px;
  line-height: normal;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden; /* 오버플로우된 텍스트를 잘리도록 설정 */
  text-overflow: ellipsis; /* 오버플로우된 텍스트를 ...으로 표시 */
}

.space {
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.plz__upload__video {
  margin-bottom: 32px;
  width: 60vw;
}

.upload__btn {
  width: 60vw;
  border-radius: 8px;
  background: #383838 !important;
  padding: 16px 8px;
  color: #f2f2f2 !important;
  text-align: center;
  font-family: SUIT, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #383838 !important;
  outline: none;
}

.upload__btn:hover,
.upload__btn:focus,
.upload__btn:active {
  background: #f2f2f2 !important;
  border: 1px solid #383838 !important;
  color: #383838 !important;
  outline: none;
}

.re__upload__div {
  margin: 0 20%;
}

.re__upload__btn,
.upload__cancel__btn {
  border-radius: 8px;
  background: #383838 !important;
  padding: 6px;
  color: #f2f2f2 !important;
  text-align: center;
  font-family: SUIT, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid #383838 !important;
  line-height: normal;
}

.re__upload__btn:hover,
.re__upload__btn:focus,
.re__upload__btn:active,
.upload__cancel__btn:hover,
.upload__cancel__btn:focus,
.upload__cancel__btn:active {
  background: #f2f2f2 !important;
  border: 1px solid #383838 !important;
  outline: none;
  color: #383838 !important;
}
